.main2{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}   
